/* fix registration icons */

.svhub .has-feedback .form-control-feedback {
  top: 0;
}

.content-wrapper {
  /*margin-top: 50px;*/
}

.conference-panel {
  width: 250px;
  display: inline-block;
  height: 280px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.conference-panel img {
  width: 225px;
  height: 150px;
}
