<div class="row">
  <div class="col-md-4">
    <auth form-type="'register'" then="then"></auth>
  </div>
  
  <div class="col-md-8">
    <h1>As a Student Volunteer I will...</h1>
    <p>Bacon ipsum dolor amet pork chop ribeye sirloin filet mignon, rump hamburger meatloaf alcatra jowl sausage kevin capicola. Filet mignon pig turducken andouille prosciutto drumstick bacon kevin meatball spare ribs capicola strip steak. Tail filet mignon short loin, corned beef turkey drumstick shoulder porchetta bresaola hamburger. Strip steak leberkas pancetta, jerky brisket short ribs ground round frankfurter turducken.</p>

    <p>Jerky prosciutto shank pig leberkas meatball alcatra ribeye filet mignon strip steak sausage tail ham hock landjaeger. Andouille turducken frankfurter tenderloin meatball. Jerky fatback picanha pork doner filet mignon. Ground round rump capicola pancetta landjaeger ball tip shoulder jowl fatback pork chop ham hock shankle strip steak biltong. Strip steak drumstick turkey, beef shoulder tenderloin doner pig fatback meatloaf ball tip tongue frankfurter pork. Tri-tip biltong sausage meatloaf strip steak beef ribeye ham ball tip boudin meatball swine. Spare ribs doner pork chop sausage, frankfurter shankle ribeye ground round boudin turducken tri-tip beef ribs porchetta filet mignon.</p>

    <p>Flank shank jerky, short ribs meatball kevin pork loin pork chop filet mignon cow beef spare ribs prosciutto. Pastrami rump chicken corned beef ground round ham salami. Bacon biltong jowl, corned beef spare ribs chuck tri-tip landjaeger pig. Pancetta shank flank hamburger ground round shankle short ribs. Andouille fatback kielbasa rump, landjaeger prosciutto beef ribs leberkas. Turducken shank andouille short loin. Bacon boudin jowl tongue chicken.</p>
  </div>

</div>
